body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

#btnBomba {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.desligado {
    background-color: red;
}

.ligado {
    background-color: green;
}